---
- name: Debug print task-1
  ansible.builtin.debug:
    msg: "This is task-1"

- name: Install and configure AdGuard Home
  ansible.builtin.include_role:
    name: bcook254.adguardhome
  vars:
    adguardhome_version: "0.107.61"
