---
is_primary_dns_server: true

# ===========
# AdGuardHome
# ===========
#
adguardhome_dnsport: 53

# AdGuard Home configuration for primary DNS server
adguardhome_daemon: adguardhome

# AdGuard Home: Bind DNS to LAN IP and allow Web-UI access from network
adguardhome_dnshosts:
  - "{{ ansible_host }}" # will resolve to 192.168.1.13 according to inventory

adguardhome_webhost: "0.0.0.0"

# Web-Interface on port 3000 (default is 80)
adguardhome_webport: 3000

# Internal domain name (default is 'lan')
adguardhome_local_domain_name: "{{ domain }}"

# Upstream DNS: Using Bind9 running on custom port
adguardhome_upstream_dns:
  - "127.0.0.1:{{ bind9_port }}"

# =============
# Bind9 Primary
# =============

bind9_port: 5353
bind9_authoritative: true
bind9_forward: true
bind9_recursor: true
bind9_forward_servers:
  - "127.0.0.1 port {{ unbound_listen_addresses[0].split('@')[1] }}"
  - 1.1.1.1 # fallback upstream DNS if Unbound is down
  - 8.8.8.8 # fallback upstream DNS if Unbound is down
bind9_generate_ddns_key: true
bind9_zones:
  - name: "{{ domain }}"
    type: primary
    secondary_servers:
      - "{{ secondary_dns_ip }}"
    ddns_update_key: ddnskey
    ddns_update_policy_grant: "zonesub any"
    serial: "{{ ansible_date_time.epoch }}"
    default_ttl: 600
    refresh: 600
    # refresh: 1D
    retry: 300
    # retry: 2H
    expire: 7D
    # expire: 1000H
    # NS and other pre-formatted records values must be given as full qualified domain names,
    # with or without final dot, but not relative to the zone
    primary: "ns.{{ domain }}" # Optional, if you don't define it, firs NS is taken
    admin: "admin.{{ domain }}"
    ns_records:
      - "ns1.{{ domain }}"
      - "ns2.{{ domain }}"
    # RR values are either relative to the zone, either with a final dot when outside.
    rrs:
      - label: ns1
        type: A
        rdata: "{{ primary_dns_ip }}"
      - label: ns2
        type: A
        rdata: "{{ secondary_dns_ip }}"
      - label: opnsense
        type: A
        rdata: "192.168.1.1"
      - label: ap
        type: A
        rdata: "192.168.1.10"
      - label: switch
        type: A
        rdata: "192.168.1.11"
      - label: adguard
        type: A
        rdata: "{{ primary_dns_ip }}"
      - label: proxmox
        type: A
        rdata: 192.168.1.12
      - label: minio
        type: A
        rdata: 192.168.1.20
      - label: speedport
        type: A
        rdata: 192.168.178.1
  - name: 168.192.in-addr.arpa
    type: primary
    serial: "{{ ansible_date_time.epoch }}"
    default_ttl: 600
    refresh: 600
    # refresh: 1D
    retry: 300
    # retry: 2H
    expire: 7D
    # expire: 1000H
    # NS and other pre-formatted records values must be given as full qualified domain names,
    # with or without final dot, but not relative to the zone
    primary: "ns1.{{ domain }}" # Optional, if you don't define it, firs NS is taken
    admin: "admin.{{ domain }}"
    ns_records:
      - "ns1.{{ domain }}."
      - "ns2.{{ domain }}."
    # RR values are either relative to the zone, either with a final dot when outside.
    rrs:
      - label: 1.13
        type: PTR
        rdata: "ns1.{{ domain }}"
      - label: 1.14
        type: PTR
        rdata: "ns2.{{ domain }}."
      - label: 1.10
        type: PTR
        rdata: "ap.{{ domain }}."
      - label: 1.11
        type: PTR
        rdata: "switch.{{ domain }}."
      - label: 1.13
        type: PTR
        rdata: "adguard.{{ domain }}."
      - label: 1.12
        type: PTR
        rdata: "proxmox.{{ domain }}."
      - label: 178.1
        type: PTR
        rdata: "speedport.{{ domain }}."

# =======
# Unbound
# =======

unbound_listen_addresses:
  - "127.0.0.1@5335"
  - "::1@5335"
